.header {
    background-color: rgb(18, 18, 18);
    height: 4rem;


    &__text {
        background-color: #f5c530;
        display: inline-block;
        text-transform: uppercase;
        border-radius: 5px;
        font-weight: 900;
    }
}