.search-form {
    padding: 1.25rem 1rem;

    & i {
        position: absolute;
        padding: .5rem;
        color: gray;
    }

    &__label {
        display: block;
        padding-bottom: 0.5rem;
    }

    &__input {
        border-radius: 3px;
        border: 1px solid #2d9fd9;
        width: 100%;
        height: 30px;
        text-indent: 2rem;
        color: gray;
    }
}