.section-result {
    background-color: orange;
    height: 90%;
    border-radius: 10px;
    
}

.result {
    &__header {
        padding: 1rem;
    }

    &__body {
        overflow-y: scroll;
        height:90%
    }
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  } 