$color-primary: #f5c530;
$color-secondary-light: #ffb900;


$color-white: #fff;
$color-white-2:#ebebeb;
$color-black: #000000;
$color-black-light:#121212;


$default-font-size: 1rem;
$large-header-font-size:2rem;