*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  font-family: Verdana, Arial, sans-serif;
  background-image: linear-gradient(rgb(185, 185, 185), rgb(227, 226, 221));
}
